{% extends "admin/change_form.html" %}
{% load i18n %}

{% block submit_buttons_bottom %}
<div class="submit-row">
    <input type="submit" value="{% trans 'Save' %}" class="default" name="_save">
    <input type="submit" value="Run" name="_run">
</div>
{% endblock %}

{% block after_related_objects %}
<fieldset>
    <h2>Results</h2>
    <div id="results">
        {% if object.result %}
        <table>
            <!-- Assuming the result is a list of lists, where each inner list is a row of data -->
            {% for row in object.result %}
            <tr>
                {% for cell in row %}
                <td>{{ cell }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>No results to display.</p>
        {% endif %}
    </div>
</fieldset>
{% endblock %}
